global
    stats socket /var/lib/haproxy/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
    log stdout format raw local0 info

defaults
    mode http
    timeout client 10s
    timeout connect 5s
    timeout server 10s
    timeout http-request 10s
    log global

frontend stats
    bind *:8181
    stats enable
    stats uri /
    stats refresh 5s

frontend frontend_app
    bind *:8080
    default_backend backend_app

backend backend_app
    balance roundrobin
    server app01 127.0.0.1:5001 check
    server app02 127.0.0.1:5002 check
    server app03 127.0.0.1:5003 check